<!DOCTYPE html>
<html>
  <head>
    <title>ESI-EACH</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
    .centered-title {
        width: 50%; 
        margin: 0 auto; 
        text-align: center;
    }

    </style>
  </head>

  <body>
    <div class="centered-title">
        <h1>Hello, Ruby on Rails!</h1>
        <p>
            Trabalho de ESI
            <br>
            Iteração 0
        </p>
    </div>
  </body>
</html>
